---
import TagIcon from "../icons/TagIcon.astro";
import CalendarIcon from "../icons/CalendarIcon.astro";

const { post } = Astro.props;
const { image, title, tags } = post;
---

<article>
  <figure>
    <a target="_blank" rel="noopener noreferrer">
      <img src={image} alt={title} loading="lazy" />
    </a>
  </figure>

  <div>
    <ul class="flex justify-between">
      <li class="flex items-center">
        <TagIcon />
        <span>{tags.category}</span>
      </li>
      <li class="flex items-center">
        <CalendarIcon />
        <span>{tags.date}</span>
      </li>
    </ul>
    <a target="_blank" rel="noopener noreferrer">{title}</a>
  </div>
</article>

<style>
  article {
    overflow: hidden;
    border-radius: 12px;
    transition: 0.35s ease-in-out;
    box-shadow: 0 2px 25px 10px rgb(0 0 0 / 10%);

    &:hover img {
      transform: scale(1.1);
    }

    figure {
      overflow: hidden;
    }

    figure img,
    figure:hover img,
    div a,
    div a:hover {
      transition: 0.3s ease-in-out;
    }

    div {
      gap: 1rem;
      display: grid;
      padding: 1.2rem;

      ul {
        li {
          gap: 4px;
        }

        svg {
          width: 1.3rem;
          color: var(--clr-red-crayola-600);
        }
      }
    }

    div a:hover {
      color: var(--clr-red-crayola-600);
    }
  }
</style>
