---
import TagIcon from "../icons/TagIcon.astro";
import CalendarIcon from "../icons/CalendarIcon.astro";

const { post } = Astro.props;
const { image, title, tags } = post;
---

<article>
  <figure>
    <a target="_blank" rel="noopener noreferrer">
      <img src={image} alt={title} loading="lazy" />
    </a>
  </figure>

  <div>
    <a target="_blank" rel="noopener noreferrer">{title}</a>
    <ul class="flex justify-between">
      <li class="flex items-center">
        <TagIcon />
        <span>{tags.category}</span>
      </li>
      <li class="flex items-center">
        <CalendarIcon />
        <span>{tags.date}</span>
      </li>
    </ul>
  </div>
</article>

<style>
  article {
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.75rem 2rem rgb(0 0 0 / 10%);

    figure {
      border-radius: inherit;
      overflow: hidden;

      a {
        img {
          transition: 0.35s ease-in-out;
        }

        &:hover img {
          transform: scale(1.1);
        }
      }
    }

    div {
      padding: 1rem;

      a {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      ul {
        margin-top: 1rem;

        li {
          gap: 0.25rem;
          color: var(--clr-slate-500);

          &:hover svg {
            color: var(--clr-red-crayola-600);
          }

          svg {
            width: 1.25rem;
          }

          span {
            font-size: 0.625rem;
          }
        }
      }
    }
  }
</style>
