---
import CheckIcon from "../icons/CheckIcon.astro";

const { features } = Astro.props;
const { subtitle, title, image, featuresList } = features;
---

<div class="features_section section_container">
  <article>
    <span class="outlined_subtitle blue">{subtitle}</span>
    <h3>{title}</h3>
    <ul class="features_list">
      {
        featuresList.map((feature: Text) => {
          return (
            <li class="flex items-center">
              <div class="features__icon rounded_icon_container">
                <CheckIcon />
              </div>
              <p>{feature}</p>
            </li>
          );
        })
      }
    </ul>
  </article>
  <img src={image} alt={title} />
</div>

<style>
  .features_section {
    gap: 4rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  }

  .features_section article h3 {
    margin-block: 0.5rem 1rem;
    font-size: 1.4rem;
  }

  .features_section .features_list li {
    gap: 0.5rem;
    border-radius: 8px;
    font-size: var(--fs-5);
  }

  .features_list {
    display: grid;
    row-gap: 0.5rem;
  }

  .features__icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid var(--clr-red-crayola-600);
    color: var(--clr-red-crayola-600);
  }

  .features__icon svg {
    color: var(--clr-red-crayola-600);
  }

  .features__icon,
  ul li:hover .features__icon {
    transition: 0.2s ease;
  }

  ul li:hover .features__icon {
    background-color: var(--clr-red-crayola-100);
  }

  .features_section img {
    margin-inline: auto;
    width: min(30rem, 100%);
  }
</style>
