---
import CheckIcon from "../icons/CheckIcon.astro";

const { services } = Astro.props;

const { text, title, image, servicesList } = services;
---

<div class="services_section section_container">
  <article>
    <header>
      <p>{text}</p>
      <h2 class="heading-2">{title}</h2>
    </header>
    <ul class="services__list">
      {
        servicesList.map((service) => {
          return (
            <li>
              <div class="services__icon rounded_icon_container">
                <CheckIcon />
              </div>
              <h4>{service}</h4>
            </li>
          );
        })
      }
    </ul>
  </article>
  <img src={image} alt={title} />
</div>

<style>
  .services_section {
    gap: 4rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  }

  h2 {
    margin-bottom: 2rem;
  }

  ul {
    display: grid;
    row-gap: 1.5rem;
  }

  ul li {
    gap: 1rem;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    background-color: var(--clr-white);
    border-radius: 8px;
  }

  ul li:nth-child(even) {
    transform: translateX(3rem);
  }

  .services__icon {
    background-color: var(--clr-cultured);
  }

  .services__icon svg {
    color: var(--clr-red-crayola);
  }

  .services__icon,
  ul li:hover .services__icon {
    transition: 0.2s ease;
  }

  ul li:hover .services__icon svg {
    color: var(--clr-white);
  }

  ul li:hover .services__icon {
    background-color: var(--clr-red-crayola);
  }
</style>
